

<div>
<h2>Welcome To Maharashi university of Management.</h2>
In 1973, Maharishi University of Management, then called Maharishi International University (MIU), 
began offering its first classes in Santa Barbara, California. Before long, MIU had too many students
 for its small rented facilities, so in 1974 moved to Fairfield, Iowa to the former Parsons College campus.
  The next several years were a time of rapid expansion. MIU was accredited by the Higher Learning Commission 
  of the North Central Association of Colleges and Schools, from the Bachelor’s to Doctorate level.

</div>
